.pull-left>.page-title{
    font-weight: bolder;
}
.captcha>.col-2{
    margin-top: 1.3rem;
}
.captcha>.col-2>p{
    background-color: #8aaae5;
    padding: 20px;
    border-radius: 10px; 
    font-size: 18px;
}
.captcha>.col-1{
    margin-top: 2.2rem;
}
.depositButton>.col>button{
    background-color: #426bb5; 
    color: white;
}
.depositButton>.col>button>img{
    width: 20%;
}
.completeDeposit>.col-6{
    border: 5px solid #8aaae5;
    border-radius: 10px;
    padding: 20px;
}
.completeDeposit>.col-6>.headerCD{
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}
.contentCD{
    font-size: 18px;
}
.nextTransaction{
  background-color: #8aaae5;
}