@media only screen and (max-width: 1200px){
    .captcha>.col-8{
        max-width: 60%;
    } 
}
@media only screen and (max-width: 991px){
    .content>.row>.col>nav{
        position: absolute;
        left: 2rem;
        top: 3rem;
    }
    .transactionContent>.col-4{
        min-width: 35%;
    }
    .transactionContent>.col-8{
        max-width: 65%;
    }
    .enterReceiveAcc>.col-8,
    .enterReceiveAcc>.col-4{
        min-width: 100%;
    }
    .captcha>.col-3{
        margin-top: 3rem;
    }
    .captcha>.col-1{
        margin-top: 3.5rem;
    }
    .makeTransaction{
        justify-content: center;
    }
    .makeTransaction>.displayInfoTransaction{
        min-width: 80%;
        border-radius: 10px 10px 0px 0px;
        text-align: center;
    }
    .makeTransaction>.confirmCode{
        min-width: 80%;
        border-radius: 0px 0px 10px 10px;
    }
}
@media only screen and (max-width: 767px){
    .content>.row>.col>nav{
        position: absolute;
        top: 2rem;
    }
    .transactionContent>.col-8{
        min-width: 100%;
        border-radius: 10px;
    }
    .transactionContent>.col-4{
        min-width: 70%;
        border-radius: 10px 10px 0px 0px;
    }
    .makeTransaction>.displayInfoTransaction,
    .makeTransaction>.confirmCode{
        min-width: 90%;
    }

    .content>.row>.col>nav>ol>li>a,
    .content>.row>.col>nav>ol>.active{
        font-size: 14px;
    }
    .title-comm{
        font-size: 14px;
    }
    .transactionContent>.col-8>h5,
    .transactionContent>.col-4>h5,
    .displayInfoTransaction>h5,
    .confirmCode>h5,.headerCompleteIT{
        font-size: 18px;
    }
    .destinationAccount>.col>b,
  .destinationAccount>.col-5>b{
    font-size: 15px;
  }
  .destinationAccount>.col>p,
  .destinationAccount>.col-5>p{
    font-size: 12px;
  }
  .transactionContent>.col-8>form>.form-group>label,
  .transactionContent>.col-8>form>.form-group>input,
  .transactionContent>.col-8>form>.form-group>textarea,
  .enterReceiveAcc>.col-8>.form-group>label,
  .enterReceiveAcc>.col-8>.form-group>input,
  .enterReceiveAcc>.col-4>.form-group>label,
  .enterReceiveAcc>.col-4>.form-group>input,
  .captcha>.col-8>.form-group>label,
  .captcha>.col-8>.form-group>input,
  .nextButton>.col>button,
  .receiveAccount>label,
  .nameReceiveAccount>label,
  .balance>label,
  .confirmCode>.form-group>label,
  .confirmCode>.form-group>input,.transferButton>.col>button,
  .bodyCompleteIT,.footerCompleteIT{
    font-size: 14px;
  }
  .captcha>.col-3>p{
    font-size: 17px;
  }
  .captcha>.col-8{
    max-width: 55%;
  }
  .captcha>.col-3{
    margin-top: 1.5rem;
  }
  .captcha>.col-1{
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 580px){
    .content>.row>.col>nav{
        position: absolute;
        top: 1rem;
    }
    
    .completeIT>.col-8{
        min-width: 90%;
    }
    
}
@media only screen and (max-width: 480px){
    .transactionContent>.col-8,
    .transactionContent>.col-4,
    .makeTransaction>.displayInfoTransaction,
    .makeTransaction>.confirmCode{
        padding: 5px;
    }   
    .transactionContent>.col-4{
        min-width: 80%;
    }
    .destinationAccount{
        justify-content: center;
    }
    .destinationAccount>.col-5{
        min-width: 90%;
    }
    .destinationAccount>.col-5>img,
    .destinationAccount>.col-6>img{
        width: 60%;
    }
    .destinationAccount>.col-1,
    .destinationAccount>.col-6{
        min-width: 100%;
        transform: translateY(-3rem);
    }
    .fa-long-arrow-right{
        display: none;
    }
    .fa-long-arrow-down{
        display: block;
        
    }
    .captcha>.col-8{
        min-width: 100%;
    }
    .captcha>.col-3{
        min-width: 35%;
        margin-top: 0rem;
    }
    .captcha>.col-1{
        max-width: 50%;
        margin-top: 0.2rem;
    }

}
@media only screen and (max-width: 380px){
    .content>.row>.col>nav{
        position: absolute;
        left: 0rem;
    }
    
}
@media only screen and (max-width: 320px){
    .transactionContent>.col-4{
        min-width: 100%;
    }
    .transactionContent>.col-8{
        border-radius: 0px 0px 10px 10px;
    }

    .content>.row>.col>nav>ol>li>a,
    .content>.row>.col>nav>ol>.active{
        font-size: 13px;
    }
    .title-comm{
        font-size: 12px;
    }
    .title-comm .title-holder{
        min-width: 50px;
    }
    .transactionContent>.col-8>h5,
    .transactionContent>.col-4>h5,
    .displayInfoTransaction>h5,
    .confirmCode>h5,.headerCompleteIT{
        font-size: 13px;
    }
    .destinationAccount>.col>b,
  .destinationAccount>.col-5>b{
    font-size: 12px;
  }
  .destinationAccount>.col>p,
  .destinationAccount>.col-5>p{
    font-size: 11px;
  }
  .transactionContent>.col-8>form>.form-group>label,
  .transactionContent>.col-8>form>.form-group>input,
  .transactionContent>.col-8>form>.form-group>textarea,
  .enterReceiveAcc>.col-8>.form-group>label,
  .enterReceiveAcc>.col-8>.form-group>input,
  .enterReceiveAcc>.col-4>.form-group>label,
  .enterReceiveAcc>.col-4>.form-group>input,
  .captcha>.col-8>.form-group>label,
  .captcha>.col-8>.form-group>input,
  .nextButton>.col>button,
  .receiveAccount>label,
  .nameReceiveAccount>label,
  .balance>label,
  .confirmCode>.form-group>label,
  .confirmCode>.form-group>input,.transferButton>.col>button,
  .bodyCompleteIT,.footerCompleteIT{
    font-size: 12px;
  }
  .captcha>.col-3>p{
    font-size: 15px;
  }
    
}