@media only screen and (max-width: 1200px) {
    .content>.row>.col-6 {
        max-width: 40%;
    }

    .content>.row>.col-4 {
        min-width: 40%;
    }
}

@media only screen and (max-width: 991px) {
    .transactionContent>.col-2 {
        display: none;
    }

    .transactionContent>.col-9 {
        min-width: 100%;
    }

    .content>.row>.col-6 {
        min-width: 100%;
    }

    .content>.row>.col-4 {
        min-width: 100%;
    }

    .content>.row>.col-4>nav {
        float: right;
        margin-right: 5rem;
    }


}

@media only screen and (max-width: 767px) {
    .content>.row>.col-6>h5 {
        font-size: 16px;
    }

    .content>.row>.col-4>nav>ol>li>a,
    .content>.row>.col-4>nav>ol>.active,
    .guide>.part1,
    .guide>.part2,
    .guide>.part3,
    .myCard>b,
    .myCard>p,
    .enterInfo>.col-8>.form-group>label,
    .enterInfo>.col-8>.form-group>input,
    .enterInfo>.col-8>.form-group>textarea,
    .captcha>.col-7>.form-group>label,
    .captcha>.col-7>.form-group>input,
    .captcha>.col-3>p,
    .nextButton>.col>button,
    .transferButton>.col>button,
    .destinationAccount>.col>b,
    .destinationAccount>.col>p,
    .receiveAccount>label,
    .nameReceiveAccount>label,
    .balance>label,
    .confirmCode>.form-group>label,
    .confirmCode>.form-group>input,
    .transferButton>.col>button,
    .bodyCompleteIT,
    .footerCompleteIT ,
    .nextTransaction,
    .backHome{
        font-size: 14px;
    }

    .transactionContent>.col-9>.row>.col-4 {
        min-width: 50%;
        max-height: 16rem;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 5px 5px 0px gray;
    }

    .enterInfo>.col-8 {
        min-width: 100%;
        border-radius: 0px 10px 10px 10px;
        box-shadow: 5px 5px 5px 0px gray;
    }

    .myCard>h6,
    .displayInfoTransaction>h5,
    .confirmCode>h5,
    .headerCompleteIT {
        font-size: 15px;
    }
}

@media only screen and (max-width: 580px) {

    .displayInfoTransaction,
    .confirmCode {
        min-width: 60%;
    }

    .makeTransaction {
        justify-content: center;
    }

}

@media only screen and (max-width: 480px) {
    .content>.row>.col-4>nav {
        margin-right: 0rem;
    }

    .transactionContent>.col-9>.row>.col-4 {
        min-width: 70%;
    }

    .captcha>.col-3 {
        min-width: 50%;
    }

    .captcha>.col-7 {
        min-width: 100%;
    }

    .captcha>.col-3 {
        margin-top: 0rem;
    }

    .captcha>.col-1 {
        margin-top: 0rem;
    }

    .displayInfoTransaction,
    .confirmCode {
        min-width: 80%;
    }
}

@media only screen and (max-width: 380px) {

    .displayInfoTransaction,
    .confirmCode {
        min-width: 95%;
    }
}

@media only screen and (max-width: 320px) {
    .content>.row>.col-6>h5 {
        font-size: 14px;
    }

    .content>.row>.col-4>nav>ol>li>a,
    .content>.row>.col-4>nav>ol>.active,
    .guide>.part1,
    .guide>.part2,
    .guide>.part3,
    .myCard>b,
    .myCard>p,
    .enterInfo>.col-8>.form-group>label,
    .enterInfo>.col-8>.form-group>input,
    .enterInfo>.col-8>.form-group>textarea,
    .captcha>.col-7>.form-group>label,
    .captcha>.col-7>.form-group>input,
    .captcha>.col-3>p,
    .nextButton>.col>button,
    .transferButton>.col>button,
    .destinationAccount>.col>b,
    .destinationAccount>.col>p,
    .receiveAccount>label,
    .nameReceiveAccount>label,
    .balance>label,
    .confirmCode>.form-group>label,
    .confirmCode>.form-group>input,
    .transferButton>.col>button,
    .bodyCompleteIT,
    .footerCompleteIT ,
    .nextTransaction,
    .backHome{
        font-size: 12px;
    }

    .myCard>h6,
    .displayInfoTransaction>h5,
    .confirmCode>h5,
    .headerCompleteIT {
        font-size: 13px;
    }

}