body {
  background-color: #efede9;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.guide>.part1,.guide>.part2,.guide>.part3{
background-color: white;
padding: 10px;border-radius: 10px 10px 0px 0px;
}
.guide>.active{
background-color: #8aaae5;
}
.guide>.col-2>hr{
border: 3px solid white;
}
.guide>.col-2>.active{
border: 3px solid #8aaae5;
}
.content>.row>.col>nav{
  float: right;
}
.content>.row>.col-4>nav>ol{
  background-color: #efede9;
}
.content>.row>.col-4>nav>ol>li>a{
  color: black;
}
.content>.row>.col-4>nav>ol>.active{
  color: #8aaae5;
}
.content>.row>.col-6>h5{
text-transform: uppercase;
font-weight: bolder;
}

.transactionContent>.col-2{
box-shadow: 2px 0px 0px 2px gray;
}
.transactionContent>.col-2>.row>.col>h6{
color: black;
font-size: 18px;
font-weight: bolder;
margin-top: 0.5rem;
}
.transactionContent>.col-2>.row>.col>a{
border: 1px solid black;
}
.transactionContent>.col-9>.row>.myCard{
height: 20rem;
}
.myCard>h6{
font-weight: bolder; 
margin-top: 1rem;
font-size: 18px;
}
.myCard>b{
font-size: 17px;
}
.myCard>img{
border-radius: 10px;
width: 90%;
}
.transactionContent>.col-9>.row>.col-8,
.transactionContent>.col-9>.row>.myCard{
background-color: white;
}
.transactionContent>.col-9>.row>.col-8{
border-radius: 0px 10px 10px 10px;
box-shadow: 5px 5px 5px 0px gray;
}
.transactionContent>.col-9>.row>.col-4{
border-radius: 10px 0px 0px 10px;
box-shadow: 0px 5px 5px 0px gray;
}

.transactionContent>.col-9>.row>.col-8>.row>.col>img{
border-radius: 0px 0px 10px 10px;
}

.captcha>.col-3{
margin-top: 1.5rem;
}
.captcha>.col-1{
margin-top: 2rem;
}
.captcha>.col-3>p{
font-style: italic;
border: 1px solid #8aaae5; 
background-color: #8aaae5;
color: black;
padding: 10px;
font-size: 20px;
text-align: center;
border-radius: 20px;
}
.makeTransaction{
border: 2px solid gray; 
border-radius: 10px;
}
.fa-long-arrow-down{
  display: none;
}
.destinationAccount>.col>img{
border-radius: 10px;
width: 70%;
}
.destinationAccount>.col-5>img{
  border-radius: 10px;
}
.destinationAccount>.col>h5{
font-weight: bolder;
}
.destinationAccount>.col>p{
font-size: 14px;
}
.displayInfoTransaction>h5,
.confirmCode>h5{
font-weight: bolder;
}
.receiveAccount>label{
  font-weight: bold;
}
.nextButton>.col>button
,.transferButton>.col>button{
border: 1px solid black;
color: black;
background-color: #8aaae5;
}
.receiveAccount>label>span,
.nameReceiveAccount>label>span,
.balance>label{
  font-weight: bolder;
}
.balance>label>span,
.confirmCode>.form-group>label>span{
  color: red;
}
.confirmCode>.row>.col-6>img{
  border: 1px solid #fff; 
  border-radius: 10px;
}

.completeIT>.col{
  border: 2px solid gray;
  border-radius: 10px;
  height: 20rem;
}
.headerCompleteIT{
  font-size: 30px;
}
.bodyCompleteIT>a{
  color: #dd5415;
  font-weight: bolder;
}
.footerCompleteIT>a{
  color: red;
}


.nextTransaction{
  background-color: #8aaae5;
}