body {
    background-color: #efede9;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .content>img{
      width: 100%;
  }
.content>.jumbotron{
    background-color: #efede9;
    color: black;
}
.content>.jumbotron>.contentJum{
    position: absolute; top: 4rem;
    width: 50%;
}
.content>.jumbotron>div{
    margin-top: 5rem;
}
.content>.jumbotron>div>.display-4{
    font-size: 35px;
}
.content>.jumbotron>div>.lead{
    font-size: 20px;
}
.content>.jumbotron>div>a{
    font-size: 18px;
    border: 2px solid black;
    background-color: transparent;
    padding: 5px 5px 5px 5px;
    color: black;
    font-weight: bolder;
}

.nameService>.col>h5{
    color: black;
    text-transform: uppercase;
}
.contentService>.col-2{
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 1rem;
}
.contentService>.col-2>.card-1>a>img{
    width: 30%;
}
.contentService>.col-2>.card-1>.card-body>a>p{
    color: black;
}

.contentService>.col-2>.card-1 a>img {
    transition: 0.5s;
}

.contentService>.col-2>.card-1:hover img {
    opacity: 0.5;
    transform:scale(1.1,1.1)
    
}
.contentService>.col-2>.card-1>
.card-body>a:hover{
    text-decoration: none;
}
.contentService>.col-2>.card-1>
.card-body>a>p:hover{
    font-weight: bolder;
}
.currencyConversion{
    margin-top: -8rem;
}
.currencyConversion>.row>.col-4>h5,
.currencyConversion>.row>.col-8>h5{
    text-transform: uppercase;
}
.form-inline>.enterBalance{
    width: 15rem;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid black;
}
.form-inline>.selectCurrencyType{
    background-color: black;
    color: white;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid black;
}

